/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.editor-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 100px); /* Adjust height to fit in the viewport */
}

.code-editors {
  flex: 1;
  margin-right: 20px; /* Space between editors and preview */
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.preview-container {
  flex: 1; /* This will also take up equal space */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background: #fff;
  overflow-y: auto; /* Allow scrolling in the preview area 
  */
  color: #000;
}

/* Adjust the height of the editors */
.CodeEditor {
  height: 200px; /* Set height for individual editors */
}

/* Optional: add some margin to the buttons */
button {
  margin-top: 10px;
}
